body {
  background-color: #392061;
  display: flex;
  flex-direction: column;
}

aside {
  background-color: brown;
  height: 100vh;
  width: 20vw;
}

main {
  background-color: burlywood;
  height: 100vh;
  width: 70vw;
}